# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Firebase generated
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
